.form-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .input-field {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 18px;
  }
  
  .button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  
  .form-button {
    text-align: center;
  }
  