<h2>Football Teams</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Nickname</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let footballteam of footballteams; let i = index">
            <td><a (click)="goToDetails(footballteam.id)" class="clickable">{{i+1}}</a></td>
            <td>{{footballteam.name}}</td>
            <td>{{footballteam.nickname}}</td>
            <td>{{footballteam.value}}</td>
        </tr>
    </tbody>
</table>