<h2 class="header">Edit a Football Team:</h2>
<form class="form" (submit)="editFootballTeam()">
  <mat-form-field class="input-field">
    <mat-label>Name</mat-label>
    <input matInput type="text" name="name" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Nickname</mat-label>
    <input matInput type="text" name="nickname" [(ngModel)]="nickname">
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Founding Year</mat-label>
    <input matInput type="number" name="foundingYear" [(ngModel)]="foundingYear">
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Value</mat-label>
    <input matInput type="number" name="value" [(ngModel)]="value">
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Professional Status</mat-label>
    <input matInput type="text" name="professionalStatus" [(ngModel)]="professionalStatus">
  </mat-form-field>

  <button mat-raised-button type="submit">Edit Football Team</button>
</form>